body {
  font-family: "Source Code Pro", sans-serif;
  background-color: #dee2e6;
  color: #343a40;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #dee2e6;
}

.navbar {
  background-color: #dee2e6 !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: #007bff !important;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  color: #343a40 !important;
  font-weight: 500;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #007bff !important;
}

.navbar-collapse {
  transition: height 0.3s ease-in-out;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 20px;
}

.img-brad {
  width: 80%;
  max-width: 350px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.footer {
  background-color: #dee2e6;
  text-align: center;
  padding: 20px 0;
}

.fa-brands {
  font-size: 40px;
  color: white;
  padding: 20px 20px;
}

.fa-solid {
  font-size: 40px;
  color: white;
  padding: 20px 20px;
}

.connect {
  font-size: 20px;
}
