body {
  font-family: "Source Code Pro", sans-serif;
  background-color:#dee2e6;
  color: #343a40;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #dee2e6;
}

.navbar {
  background-color: #dee2e6 !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: #007bff !important;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  color: #343a40 !important;
  font-weight: 500;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #007bff !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

header {
  text-align: center;
  padding-bottom: 20px;
}

header h1 {
  font-size: 36px;
  font-weight: bold;
  color: #007bff;
}

header p {
  font-size: 18px;
  color: #6c757d;
}

section {
  margin-bottom: 40px;
}

section h2 {
  font-size: 28px;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 15px;
}

section ul {
  list-style-type: none;
  padding-left: 0;
}

section ul li {
  padding: 5px 0;
  font-size: 16px;
}

h5 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.text-muted {
  font-size: 24px;
  color: #6c757d;
}

.footer {
  background-color:#dee2e6;
  text-align: center;
  padding: 20px 0;
}

.fa-brands {
  font-size: 40px;
  color: white;
  padding: 20px 20px;
}

.fa-solid {
  font-size: 40px;
  color: white;
  padding: 20px 20px;
}
footer a {
  font-size: 18px;
  text-decoration: none;
  color: #007bff;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}

.connect {
  font-size: 20px;
}

.pe-list{
  list-style-type: disc !important;
  padding-left: 20px !important;
}

ul li {
  margin-bottom: 5px;
}

.text-muted-date {
  font-size: 18px;
  color: #6c757d;
}

